In [1]:
import pandas as pd
import numpy as np
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]

tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [2]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [3]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.979685
       two       0.966214
baz    one      -0.745464
       two      -0.980456
foo    one       2.094937
       two      -0.113716
qux    one      -0.337668
       two      -0.183021
dtype: float64

In [5]:
#When you want every pairing of the elements in two iterables, it can be easier to use the MultiIndex.from_product()
iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]
pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [6]:
#You can also construct a MultiIndex from a DataFrame directly, using the method MultiIndex.from_frame().
df = pd.DataFrame(
    [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
    columns=["first", "second"],
)
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [7]:
#As a convenience, you can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically:
arrays = [
    np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
    np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -1.023428
     two   -0.180229
baz  one    0.644677
     two    0.688147
foo  one    0.643129
     two    1.043749
qux  one   -1.025093
     two   -0.985370
dtype: float64

In [8]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.004742  1.119561 -0.210066 -0.382296
    two  0.499970 -0.592390  1.104899  0.123306
baz one  1.937715 -0.490255 -0.049719  0.457986
    two -1.538482 -1.756821  0.477922 -0.465118
foo one -0.068237  0.735193  0.138271 -1.407486
    two -0.261172 -0.746872  1.321869  0.347061
qux one  1.704384  0.032460 -0.397413  1.302981
    two  1.800001  0.356264 -1.660905  0.301784