In [1]:
import pandas as pd
import numpy as np
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]

tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [2]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [3]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.979685
       two       0.966214
baz    one      -0.745464
       two      -0.980456
foo    one       2.094937
       two      -0.113716
qux    one      -0.337668
       two      -0.183021
dtype: float64

In [5]:
#When you want every pairing of the elements in two iterables, it can be easier to use the MultiIndex.from_product()
iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]
pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [6]:
#You can also construct a MultiIndex from a DataFrame directly, using the method MultiIndex.from_frame().
df = pd.DataFrame(
    [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
    columns=["first", "second"],
)
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [7]:
#As a convenience, you can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically:
arrays = [
    np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
    np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -1.023428
     two   -0.180229
baz  one    0.644677
     two    0.688147
foo  one    0.643129
     two    1.043749
qux  one   -1.025093
     two   -0.985370
dtype: float64

In [8]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.004742  1.119561 -0.210066 -0.382296
    two  0.499970 -0.592390  1.104899  0.123306
baz one  1.937715 -0.490255 -0.049719  0.457986
    two -1.538482 -1.756821  0.477922 -0.465118
foo one -0.068237  0.735193  0.138271 -1.407486
    two -0.261172 -0.746872  1.321869  0.347061
qux one  1.704384  0.032460 -0.397413  1.302981
    two  1.800001  0.356264 -1.660905  0.301784

In [9]:
df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.628907  0.155298 -0.401352  0.695679  1.412249 -0.180013 -1.796897
B       0.450944 -0.409151  0.985345 -0.639146 -0.547217  1.148072  0.397425
C      -0.215011  0.855344 -1.264645  0.926915  1.129915  0.172446  0.152086

first
second       two
A       0.911981
B      -1.152917
C      -0.602727

In [10]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one     0.175376 -0.668097 -0.353511  0.065282  1.399483 -0.467746
      two    -0.208427  0.309521  1.562127  0.470713 -1.216513 -0.516860
baz   one     2.637428  0.306914  1.044476 -1.978090 -0.767999  1.227338
      two     0.526580 -2.475361 -2.038171  0.751653 -0.601967 -0.186436
foo   one    -0.294260 -0.915597 -1.581142 -0.843545 -0.070900  2.167696
      two    -2.211289 -0.378167  1.225370 -0.544170 -0.039942  0.047972

In [11]:
#Basic indexing on axis with MultiIndex
df['bar']

second       one       two
A      -0.628907  0.155298
B       0.450944 -0.409151
C      -0.215011  0.855344

In [12]:
df['bar','one']

A   -0.628907
B    0.450944
C   -0.215011
Name: (bar, one), dtype: float64

In [13]:
s['qux']

one   -1.025093
two   -0.985370
dtype: float64

In [ ]:
#Data alignment and using reindex
s + s[:-2]