In [3]:
import pandas as pd
import numpy as np
index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [6]:
#Head
long_series = pd.Series(np.random.randn(1000))
long_series.head()

0   -0.594013
1   -1.895656
2   -0.056363
3   -0.299872
4    3.081451
dtype: float64

In [7]:
#Tail
long_series.tail(3)

997   -0.621571
998    0.469613
999    1.163653
dtype: float64

In [8]:
s.array

<NumpyExtensionArray>
[np.float64(-0.31266997765566706),   np.float64(0.3552496125568252),
  np.float64(-1.1640400318849387), np.float64(-0.19616411601625425),
 np.float64(-0.06089508583637052)]
Length: 5, dtype: float64

In [9]:
s.index.array

<NumpyExtensionArray>
['a', 'b', 'c', 'd', 'e']
Length: 5, dtype: object

In [10]:
s.to_numpy()

array([-0.31266998,  0.35524961, -1.16404003, -0.19616412, -0.06089509])

In [11]:
np.asarray(s)

array([-0.31266998,  0.35524961, -1.16404003, -0.19616412, -0.06089509])

Matching / broadcasting behavior
DataFrame has the methods add(), sub(), mul(), div() and related functions radd(), rsub(), â€¦ for carrying out binary operations. For broadcasting behavior, Series input is of primary interest. Using these functions, you can use to either match on the index or columns via the axis keyword

In [13]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)
df

        one       two     three
a -0.021795 -1.179214       NaN
b  0.033968 -1.138308  1.534091
c -1.985843 -0.818224 -0.170193
d       NaN  0.428591 -0.052926

In [14]:
row = df.iloc[1]
column = df["two"]
df.sub(row, axis="columns")

        one       two     three
a -0.055763 -0.040906       NaN
b  0.000000  0.000000  0.000000
c -2.019811  0.320084 -1.704285
d       NaN  1.566899 -1.587017