In [3]:
import pandas as pd
import numpy as np
ser = pd.Series(range(5), index=list("abcde"))

ser.loc[["a", "c", "e"]]

a    0
c    2
e    4
dtype: int64

In [4]:
df = pd.DataFrame(np.arange(25).reshape(5, 5), index=list("abcde"), columns=list("abcde"))

df.loc[["a", "c", "e"], ["b", "d"]]

    b   d
a   1   3
c  11  13
e  21  23

In [5]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01  1.132111  0.216028 -0.258779 -1.326615
2000-01-02  0.973002  0.132385  0.342037 -0.381959
2000-01-03  0.801076  0.757544  0.503245  1.382299
2000-01-04  0.468528 -0.264747 -0.955206 -0.389600
2000-01-05 -1.025089 -0.141848  0.061516  0.889755
2000-01-06  1.481526  0.894528 -0.208869  0.990464
2000-01-07  0.195501  2.476471  1.111473  0.559722
2000-01-08  0.968728 -0.898972 -1.441357  0.055617

In [6]:
s = df['A']

s[dates[5]]

np.float64(1.4815261993059112)

In [7]:
df[['B', 'A']] = df[['A', 'B']]

df

                   A         B         C         D
2000-01-01  0.216028  1.132111 -0.258779 -1.326615
2000-01-02  0.132385  0.973002  0.342037 -0.381959
2000-01-03  0.757544  0.801076  0.503245  1.382299
2000-01-04 -0.264747  0.468528 -0.955206 -0.389600
2000-01-05 -0.141848 -1.025089  0.061516  0.889755
2000-01-06  0.894528  1.481526 -0.208869  0.990464
2000-01-07  2.476471  0.195501  1.111473  0.559722
2000-01-08 -0.898972  0.968728 -1.441357  0.055617