IO tools (text, CSV, HDF5, â€¦)
The pandas I/O API is a set of top level reader functions accessed like pandas.read_csv() that generally return a pandas object. The corresponding writer functions are object methods that are accessed like DataFrame.to_csv(). Below is a table containing available readers and writers.

Format Type	Data Description	Reader	Writer
Text	CSV	read_csv	to_csv
Text	Fixed-Width Text File	read_fwf	NA
Text	JSON	read_json	to_json
Text	HTML	read_html	to_html
Text	LaTeX	Styler.to_latex	NA
Text	XML	read_xml	to_xml
Text	Local Clipboard	read_clipboard	to_clipboard
Binary	MS Excel	read_excel	to_excel
Binary	OpenDocument	read_excel	NA
Binary	HDF5 Format	read_hdf	to_hdf
Binary	Feather Format	read_feather	to_feather
Binary	Parquet Format	read_parquet	to_parquet
Binary	ORC Format	read_orc	to_orc
Binary	Stata	read_stata	to_stata
Binary	SAS	read_sas	NA
Binary	SPSS	read_spss	NA
Binary	Python Pickle Format	read_pickle	to_pickle
SQL	SQL	read_sql	to_sql

skip_blank_linesboolean, default True
If True, skip over blank lines rather than interpreting as NaN values.

In [1]:
import pandas as pd

from io import StringIO

data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [3]:
#Returning a subset 
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["COL1", "COL3"])

  col1  col3
0    a     1
1    a     2
2    c     3

In [4]:
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

skip_blank_linesboolean, default True
If True, skip over blank lines rather than interpreting as NaN values.