IO tools (text, CSV, HDF5, …)
The pandas I/O API is a set of top level reader functions accessed like pandas.read_csv() that generally return a pandas object. The corresponding writer functions are object methods that are accessed like DataFrame.to_csv(). Below is a table containing available readers and writers.

Format Type	Data Description	Reader	Writer
Text	CSV	read_csv	to_csv
Text	Fixed-Width Text File	read_fwf	NA
Text	JSON	read_json	to_json
Text	HTML	read_html	to_html
Text	LaTeX	Styler.to_latex	NA
Text	XML	read_xml	to_xml
Text	Local Clipboard	read_clipboard	to_clipboard
Binary	MS Excel	read_excel	to_excel
Binary	OpenDocument	read_excel	NA
Binary	HDF5 Format	read_hdf	to_hdf
Binary	Feather Format	read_feather	to_feather
Binary	Parquet Format	read_parquet	to_parquet
Binary	ORC Format	read_orc	to_orc
Binary	Stata	read_stata	to_stata
Binary	SAS	read_sas	NA
Binary	SPSS	read_spss	NA
Binary	Python Pickle Format	read_pickle	to_pickle
SQL	SQL	read_sql	to_sql

skip_blank_linesboolean, default True
If True, skip over blank lines rather than interpreting as NaN values.

In [3]:
import pandas as pd

from io import StringIO

data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [4]:
#Returning a subset 
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["COL1", "COL3"])

  col1  col3
0    a     1
1    a     2
2    c     3

In [5]:
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [6]:
#skip_blank_linesboolean, default True. If True, skip over blank lines rather than interpreting as NaN values.
pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0)

  col1 col2  col3
0    a    b     2

In [7]:
#Specifying column data types. You can indicate the data type for the whole DataFrame or individual columns:
import numpy as np

data = "a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11"

print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [8]:
df = pd.read_csv(StringIO(data), dtype=object)
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [9]:
df = pd.read_csv(StringIO(data), dtype={"b": object, "c": np.float64, "d": "Int64"})
df.dtypes

a      int64
b     object
c    float64
d      Int64
dtype: object

In [10]:
data = "col_1\n1\n2\n'A'\n4.22"
df = pd.read_csv(StringIO(data), converters={"col_1": str})
df["col_1"].apply(type).value_counts()

col_1
<class 'str'>    4
Name: count, dtype: int64

Specifying categorical dtype
Categorical columns can be parsed directly by specifying dtype='category' or dtype=CategoricalDtype(categories, ordered).

In [11]:
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [12]:
pd.read_csv(StringIO(data)).dtypes

col1    object
col2    object
col3     int64
dtype: object

In [13]:
pd.read_csv(StringIO(data), dtype="category").dtypes

col1    category
col2    category
col3    category
dtype: object

In [14]:
#Individual columns can be parsed as a Categorical using a dict specification:
pd.read_csv(StringIO(data), dtype={"col1": "category"}).dtypes

col1    category
col2      object
col3       int64
dtype: object

In [15]:
#Naming and using columns
#A file may or may not have a header row. pandas assumes the first row should be used as the column names:
data = "a,b,c\n1,2,3\n4,5,6\n7,8,9"

print(data)

a,b,c
1,2,3
4,5,6
7,8,9

In [16]:
pd.read_csv(StringIO(data))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
pd.read_csv(StringIO(data), names=["foo", "bar", "baz"], header=0)

   foo  bar  baz
0    1    2    3
1    4    5    6
2    7    8    9

In [18]:
pd.read_csv(StringIO(data), names=["foo", "bar", "baz"], header=None)

  foo bar baz
0   a   b   c
1   1   2   3
2   4   5   6
3   7   8   9

In [20]:
#Filtering columns (usecols)
data = "a,b,c,d\n1,2,3,foo\n4,5,6,bar\n7,8,9,baz"
pd.read_csv(StringIO(data))

   a  b  c    d
0  1  2  3  foo
1  4  5  6  bar
2  7  8  9  baz

In [21]:
pd.read_csv(StringIO(data), usecols=["b", "d"])

   b    d
0  2  foo
1  5  bar
2  8  baz

In [22]:
pd.read_csv(StringIO(data), usecols=[0, 2, 3])

   a  c    d
0  1  3  foo
1  4  6  bar
2  7  9  baz

In [23]:
'''
Dealing with Unicode data
The encoding argument should be used for encoded unicode data, which will result in byte strings being decoded to unicode in the result
'''
from io import BytesIO
data = b"word,length\n" b"Tr\xc3\xa4umen,7\n" b"Gr\xc3\xbc\xc3\x9fe,5"
data = data.decode("utf8").encode("latin-1")
df = pd.read_csv(BytesIO(data), encoding="latin-1")
df

      word  length
0  Träumen       7
1    Grüße       5

In [24]:
df["word"][1]

'Grüße'